<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
    
<head>
	<title>Pesquisa de títulos</title>
</head>

<section layout:fragment="conteudo">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title aw-aluno-panel">Pesquisa de Alunos</h1>
	   			<a class="btn btn-primary aw-link-panel" href="/alunos/novo">Novo Aluno</a>
	   		</div>
	   	</div>
	   	
	   	<div class="panel-body">
	   		<table class="table table-bordered table-striped">
	   			<thead>
	   				<tr>
	   					<th class="text-center col-md-1">Id</th>
	   					<th class="text-center col-md-3">Nome</th>
	   					<th class="text-center col-md-2">Data de Nascimento</th>
	   					<th class="text-center col-md-2">CPF</th>
	   					<th class="text-center col-md-2">Disciplinas</th>
	   					<th class="col-md-1"></th>
	   				</tr>
	   			</thead>
	   			<tbody>
	   				<tr th:each="aluno : ${alunos}">
	   					<td class="text-center" th:text="${aluno.codigo}">1</td>
	   					<td class="text-left" th:text="${aluno.nome}"></td>
	   					<td class="text-center" th:text="${{aluno.dataNascimento}}"></td>
	   					<td class="text-center" th:text=" ${{aluno.cpf}}"></td>
	   					<td class="text-center" th:text="${{aluno.disciplinas}}"></td>
	   	
	   					<td class="text-center">
	   						
	   					</td>
	   				</tr>
	   				<tr>
	   					<td colspan="6" th:if="${#lists.isEmpty(alunos)}">Nenhum aluno foi encontrado</td>
	   				</tr>
	   			</tbody>
	   		</table>
	   	</div>
	</div>
</section>
</html>
